/alert.gif
/appcompat.xsl
/appcompatservicing.dll
/appcompat_bidi.xsl
/appcompat_detailed.xsl
/appcompat_detailed_bidi.xsl
/appcompat_detailed_bidi_txt.xsl
/appcompat_detailed_txt.xsl
/appraiser.dll
/appraiser.sdb
/appraiserdatasha1.cat
/appraiserres.dll
/Aquivos Dll
/arunimg.dll
/arunres.dll
/autorun.dll
/background_cli.bmp
/boot.wim
/cdplib.mof
/cdplibuninstall.mof
/clustercompliance.dll
/cmi2migxml.dll
/cmisetup.dll
/compatctrl.dll
/compatprovider.dll
/compatresources.dll
/compres.dll
/cryptosetup.dll
/csiagent.dll
/cversion.ini
/db_msftproductionwindowssigningca.cer
/devinv.dll
/diager.dll
/diagnostic.dll
/diagtrack.dll
/diagtrackrunner.exe
/dism.exe
/dismapi.dll
/dismcore.dll
/dismcoreps.dll
/dismprov.dll
/dlmanifests
/du.dll
/etwproviders
/ext-ms-win-advapi32-encryptedfile-l1-1-0.dll
/ext-ms-win-ntuser-keyboard-l1-3-0.dll
/folderprovider.dll
/fveupg.dll
/gatherosstate.exe
/generaltel.dll
/hwcompat.dll
/hwcompat.txt
/hwcompatPE.txt
/hwexclude.txt
/hwexcludePE.txt
/hypervcomplcheck.dll
/iasmigplugin.dll
/idwbinfo.txt
/iiscomp.dll
/imagingprovider.dll
/inf
/input.dll
/install.esd
/itgtupg.dll
/lang.ini
/locale.nls
/logprovider.dll
/mediasetupuimgr.dll
/migapp.xml
/migcore.dll
/mighost.exe
/migisol.dll
/migration
/migres.dll
/migstore.dll
/migsys.dll
/migtestplugin.dll
/mxeagent.dll
/ndiscompl.dll
/nlsbres.dll
/ntdsupg.dll
/ntfrsupg.dll
/nxquery.inf
/nxquery.sys
/offline.xml
/oscomps.woa.xml
/oscomps.xml
/osfilter.inf
/outofbox_windows_db.bin
/pnpibs.dll
/product.ini
/pt-br
/rdsupgcheck.dll
/reagent.admx
/reagent.dll
/reagent.xml
/replacementmanifests
/reportgen.dll
/rmsupg.dll
/rollback.exe
/schema.dat
/sdbapiu.dll
/segoeui.ttf
/setup.exe
/setupcompat.dll
/setupcore.dll
/setuperror.exe
/setuphost.exe
/setupmgr.dll
/setupplatform.cfg
/setupplatform.dll
/setupplatform.exe
/setupprep.exe
/sfcn.dat
/sflcid.dat
/sflistrs1.dat
/sflistw7.dat
/sflistw8.dat
/sflistw8.woa.dat
/sflistwb.dat
/sflistwb.woa.dat
/sflistwt.dat
/sflistwt.woa.dat
/sfpat.inf
/sfpatrs1.inf
/sfpatw7.inf
/sfpatw8.inf
/sfpatwb.inf
/sfpatwt.inf
/sxs
/uninstall.xml
/uninstall_data.xml
/upgradeagent.xml
/upgrade_bulk.xml
/upgrade_comp.xml
/upgrade_data.xml
/upgrade_frmwrk.xml
/upgwow_bulk.xml
/vista
/warning.gif
/wicadevicefilters.xml
/xp