# Indique que este é um arquivo EditorConfig
root = true

# Aplicar a todos os arquivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Configurações específicas para arquivos Markdown
[*.md]
trim_trailing_whitespace = false

# Configurações específicas para arquivos JSON
[*.json]
indent_style = space
indent_size = 2

# Configurações específicas para arquivos de código-fonte Java
[*.java]
indent_style = space
indent_size = 4

# Configurações específicas para arquivos YAML
[*.yml]
indent_style = space
indent_size = 2
