[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Adicione suas dependências aqui
# Exemplo:
requests = "*"
flask = "==3.1.3"

[dev-packages]
# Dependências para desenvolvimento
# Exemplo:
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
